html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header{
    width: 100%;
    height: 200px;
    background-color: #00bcd4;
    position: relative;
    z-index: 1;
}
.header .headerBtn{
    width: 100%;
    position: fixed;
    background-color: #00bcd4;
}
.header .headerBtn img{
    margin-left:10px;
    margin-top: 10px;;
    width: 40px;
}
.header .headerBtn .searchBtn{
    float: right;
}
.header .headerBtn .searchBtn input{
    visibility: hidden;
    border:none;
    boder-bottom:1px solid #ff62a7;
    width: 0px;
    vertical-align : 10px;
    background-color: transparent;
}
.header .headerTitle{
    position: absolute;
    top: 90px;
    font-size: 56px;
    left : 70px;
    color : #fff;
}
.header .subTitle{
    visibility: hidden;
    position: absolute;
    top :18px;
    left :60px;
    color: #fff;
    font-size: 26px;
}
.headerMenu{
    position: fixed;
    background-color: #FFDD51;
    width: 250px;
    overflow: auto;
    z-index: 1;
    left: -250px;
    top: 0;
    bottom: 0;
}
.headerMenu .menuTitle{
    position: absolute;
    top : 30px;
    left: 10px;
    font-size: 40px;
}
.headerMenu .menuContent{
    position: absolute;
    top: 90px;
}
.headerMenu .menuContent dt{
    font-size: 20px;
    margin-left : 20px
}
.headerMenu .menuContent dd{
    padding: 40px;
}
.main{
    width: 100%;
    height: auto;
}
.footer{
    position: relative;
    width: 100%;
    background-color: #03a9f4;
    height: 70px;
}