<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Node Project</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="css/mainCss.css" rel="stylesheet">
    <link href="css/board/boardCss.css" rel="stylesheet">
</head>
<body>
<div class="header" style="background-color: <%= color %>">
    <% include ../main/header.ejs %>
</div>
<div class="main">
    <div class="boardMenu">
        <a href="/boardWrite">
            <button>글작성</button>
        </a>
    </div>
    <div class="viewContent">
        <div class="boardContent">
            <div class="boardImg">
            </div>
            <div>
                <span class="contentTitle">블라블라</span>
            </div>
            <span class="textbar"></span>
            <div>
                <span class="contentTitle">작정자</span><span class="contentSub">2014-12-29</span>
            </div>
        </div>
        <div class="boardContent">

        </div>
        <div class="boardContent">

        </div>
        <div class="boardContent">

        </div>
    </div>
</div>
<div class="footer">
    <% include ../main/footer.ejs %>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/mainJs.js"></script> <!-- 메인 헤더 init -->
</html>