<ul class="inbox-nav inbox-divider">
    <li class="active">
        <a href="/main"><i class="fa fa-inbox"></i>메인 <span class="label label-danger pull-right">2</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-envelope-o"></i>쪽지함 </a>
    </li>
    <li>
        <a href="/board"><i class="fa fa-bookmark-o"></i> 게시판 </a>
    </li>
    <li>
        <a href="/toDay/main"><i class=" fa fa-external-link"></i>일기 <span class="label label-info pull-right">30</span></a>
    </li>
    <li>
        <a href="#"><i class=" fa fa-trash-o"></i> 쓰레기통</a>
    </li>
</ul>
<ul class="nav nav-pills nav-stacked labels-info inbox-divider">
    <li> <h4>기술</h4> </li>
    <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> 크롤링(인기검색어) </a> </li>
    <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
    <li> <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
    </li><li> <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
    </li><li> <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
    </li>
</ul>
<ul class="nav nav-pills nav-stacked labels-info ">
    <li> <h4>최근다녀간 회원목록</h4> </li>
    <li> <a href="#"> <i class=" fa fa-circle text-success"></i>Alireza Zare <p>I do not think</p></a>  </li>
    <li> <a href="#"> <i class=" fa fa-circle text-danger"></i>Dark Coders<p>Busy with coding</p></a> </li>
    <li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Mentaalist <p>I out of control</p></a>
    </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>H3s4m<p>I am not here</p></a>
    </li><li> <a href="#"> <i class=" fa fa-circle text-muted "></i>Dead man<p>I do not think</p></a>
    </li>
</ul>

