<div class="headerBtn" style="background-color: <%= color %>">
    <img id="menuImgBtn"
         src="http://mblogthumb1.phinf.naver.net/20160405_132/mkhjsk_1459858119020BJV12_PNG/Untitled-5.png?type=w2">
    <span class="subTitle" id="subTitle"> <%= title %> </span>
    <div class="searchBtn">
        <img src="http://t1.daumcdn.net/brunch/static/img/sticker/apeach/10.png" id="searchBtn">
    </div>
    <div class="chat">
        <div class="chatHeader">
            <div class="chatImg">
                <img src="http://mblogthumb1.phinf.naver.net/20160405_132/mkhjsk_1459858119020BJV12_PNG/Untitled-5.png?type=w2">
            </div>
            <div class="headerInfo">
                블라블라
            </div>
        </div>
        <div class="chatMain">
            <div class="reciveMessage">
               <div>보내는놈</div>
                <div class="messageBox">
                    블라블라
                </div>
            </div>
            <div class="sendMessage">
                <div class="sendPeople">받는놈</div>
                <div class="messageBox">
                    블라블라
                    블라블라
                    블라블라
                    블라블라
                    블라블라
                    블라블라
                </div>
            </div>
            <div class="reciveMessage">
                <div class="recivePeople">보내는놈</div>
                <div class="messageBox">
                    블라블라
                </div>
            </div>
        </div>
        <div class="chatFooter">
            <div class="chatInput">
                <form action="" id="chatMessage">
                <input type="text" name="chatMessage" id="chatMessage">
                </form>
            </div>
            <div class="chatBtn">
                <button>전송</button>
            </div>
        </div>
    </div>
</div>
<div class="headerTitle" id="headerTitle">
    <%= title %>
</div>
<div class="headerMenu">
    <div class="menuTitle"> 메뉴</div>
    <div class="menuContent">
        <strong>소개</strong>
        <ul>
            <li><a href="/"> 소개소개</a></li>
        </ul>
        <strong>컨텐츠</strong>
        <ul>
            <li><a href="/board"> 게시판</a></li>
            <li><a href="/board"> 게시판</a></li>
            <li><a href="/board"> 게시판</a></li>
        </ul>
    </div>
</div>


