<div class="headerBtn" style="background-color: <%= color %>">
    <img id="menuImgBtn"
         src="http://mblogthumb1.phinf.naver.net/20160405_132/mkhjsk_1459858119020BJV12_PNG/Untitled-5.png?type=w2">
    <span class="subTitle" id="subTitle"> <%= title %> </span>
    <div class="searchBtn">
        <img src="http://t1.daumcdn.net/brunch/static/img/sticker/apeach/10.png" id="searchBtn">
        <input type="text" id="searchText">
    </div>
</div>
<div class="headerTitle" id="headerTitle">
    <%= title %>
</div>
<div class="headerMenu">
    <div class="menuTitle"> 메뉴</div>
    <div class="menuContent">
        <strong>소개</strong>
        <ul>
            <li><a href="/"> 소개소개</a></li>
        </ul>
        <strong>컨텐츠</strong>
        <ul>
            <li><a href="/board"> 게시판</a></li>
            <li><a href="/board"> 게시판</a></li>
            <li><a href="/board"> 게시판</a></li>
        </ul>
    </div>
</div>


